# Ignore environment variables file
.env

# Ignore Python virtual environment folder
venv/

# Optional: Ignore common Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
token.json
credentials.json
*.json  # Optional: Ignore all JSON if you have more sensitive ones
